.presth-notas-contenteditable-parent {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    /* overflow-y: scroll; */
    cursor: text;
}
.presth-notas-contenteditable {
    background: white;
    padding: 2% 2% 0% 1%;
    text-align: justify;
    overflow-y: scroll;
    height: 100%;
}
[contenteditable] {
    outline: 0px solid transparent;
}